---
import { APP_CONFIG } from '../config';
---

<div class="flex items-center gap-3 select-none">
  <img
    src="/logo.png"
    width="32"
    height="32"
    alt="logo"
    class="w-8 h-8 rounded-md border border-zinc-800"
  />
  <span class="font-bold text-lg text-zinc-50 tracking-tight">{APP_CONFIG.name}</span>
</div>
